name: CI/CD

on:
  push:
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build_mac:
    name: Build on macOS 12 (universal, static Qt 6.4.2)
    runs-on: macos-12
    env:
        HAS_QT: 1
    steps:
      - uses: actions/checkout@v3
      - name: Get Qt
        uses: actions/checkout@v3
        with:
          repository: LongSoft/qt-6.4.2-static-universal-macos12.3
          path: qt
          lfs: true
      - name: Unpack Qt
        shell: bash
        working-directory: qt
        run: sudo unzip -q qt-6.4.2-static-universal-macos12.3.zip -d/opt
      - name: Create build directory
        run: cmake -E make_directory ${{runner.workspace}}/build
      - name: Configure everything
        working-directory: ${{runner.workspace}}/build
        run: cmake -DCMAKE_PREFIX_PATH="/opt/qt-6.4.2-static-universal-macos12.3" -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" ../UEFITool
      - name: Build everything
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: cmake --build . --config Release
      - name: Create dist directory
        run: cmake -E make_directory ${{runner.workspace}}/UEFITool/dist
      - name: Archive everything
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: |
          UEFITOOL_VER=$(cat ../UEFITool/version.h | grep PROGRAM_VERSION | cut -d'"' -f2 | sed 's/NE alpha /A/') ; \
          zip -qry ../UEFITool/dist/UEFIExtract_NE_${UEFITOOL_VER}_universal_mac.zip UEFIExtract/UEFIExtract
          zip -qry ../UEFITool/dist/UEFIFind_NE_${UEFITOOL_VER}_universal_mac.zip UEFIFind/UEFIFind
          zip -qry ../UEFITool/dist/UEFITool_NE_${UEFITOOL_VER}_universal_mac.zip UEFITool/UEFITool.app
      - name: Upload to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: macOS builds
          path: dist/*.zip
      - name: Upload to releases
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*.zip
          tag: ${{ github.ref }}
          file_glob: true

  build_linux:
    name: Build on Ubuntu 20.04 LTS (Qt 5)
    runs-on: ubuntu-20.04
    env:
        HAS_QT: 1
    steps:
      - uses: actions/checkout@v3
      - name: Get Qt
        run: sudo apt-get install -qq qt5-default qt5-qmake qtbase5-dev-tools cmake
      - name: Build everything
        run: ./unixbuild.sh
      - name: Upload to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Linux builds
          path: dist/*.zip
      - name: Upload to releases
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*.zip
          tag: ${{ github.ref }}
          file_glob: true

  build_linux_sanitizers:
    name: Build on Ubuntu Latest with Clang sanitizers (Qt 6)
    runs-on: ubuntu-latest
    env:
        HAS_QT: 1
    steps:
      - uses: actions/checkout@v3
      - name: Get Qt
        run: |
          sudo apt update
          sudo apt-get install -qq cmake libgl1-mesa-dev libglx-dev qmake6 libqt6opengl6-dev qt6-base-dev
      - name: Make a debug build of UEFITool with Clang sanitizers enabled
        run: |
          mkdir build 
          cd build
          CC=/usr/bin/clang CXX=/usr/bin/clang++ cmake -DCMAKE_BUILD_TYPE=Debug ../UEFITool
          make
      - name: Upload to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Linux builds with Clang sanitizers enabled
          path: build/UEFITool

  build_linux_meson:
    name: Build on Ubuntu Latest with Meson (Qt 5)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get Deps
        run: | 
          sudo apt update
          sudo apt-get install -qq zlib1g-dev meson qtbase5-dev qtchooser qt5-qmake qtbase5-dev-tools
      - name: Configure build
        run: mkdir build-meson && meson ./build-meson
      - name: Build everything
        run: ninja -C build-meson

  build_freebsd:
    name: Build on FreeBSD (Qt 5)
    runs-on: macos-12
    env:
      HAS_QT: 1
    steps:
      - uses: actions/checkout@v3
      - name: Build on FreeBSD inside macOS VM
        id: test
        uses: vmactions/freebsd-vm@v0
        with:
          usesh: true
          envs: "HAS_QT"
          prepare: |
            pkg install -y bash zip cmake qt5-qmake qt5-buildtools qt5-core qt5-gui qt5-widgets
          run: |
            bash unixbuild.sh
      - name: Upload to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: FreeBSD builds
          path: dist/*.zip
      - name: Upload to releases
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*.zip
          tag: ${{ github.ref }}
          file_glob: true

  build_windows_64:
    name: Build on Windows 2022 (64-bit, static Qt 6.4.2)
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3 
      - name: Get Qt 6.4.2
        uses: actions/checkout@v3
        with:
          repository: LongSoft/qt-6.4.2-static-x64-msvc2022
          path: qt6
          lfs: true
      - name: Unpack Qt 6.4.2
        shell: bash
        working-directory: qt6
        run: 7z x qt-6.4.2-static-x64-msvc2022.7z -o../..
      - name: Create UEFITool win64 build directory
        run: cmake -E make_directory ${{runner.workspace}}/build/UEFITool_win64
      - name: Configure UEFITool win64
        working-directory: ${{runner.workspace}}/build/UEFITool_win64
        shell: cmd
        run: cmake -DCMAKE_PREFIX_PATH="D:\a\UEFITool\qt-6.4.2-static-x64-msvc2022" -DCMAKE_MSVC_RUNTIME_LIBRARY="MultiThreaded" ..\..\UEFITool\UEFITool
      - name: Build UEFITool win64
        working-directory: ${{runner.workspace}}/build/UEFITool_win64
        shell: bash
        run: cmake --build . --config Release
      - name: Archive UEFITool win64
        working-directory: ${{runner.workspace}}/build/UEFITool_win64/Release
        shell: bash
        run: |
          UEFITOOL_VER=$(cat ../../../UEFITool/version.h | grep PROGRAM_VERSION | cut -d'"' -f2 | sed 's/NE alpha /A/') ; \
          7z a ../../../UEFITool/dist/UEFITool_NE_${UEFITOOL_VER}_win64.zip UEFITool.exe   
      - name: Upload to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Windows 64-bit builds
          path: dist/*.zip
      - name: Upload to releases
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*.zip
          tag: ${{ github.ref }}
          file_glob: true

  build_windows_32:
    name: Build on Windows 2019 (32-bit, static Qt 5.6.3)
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3 
      - name: Get Qt 5.6.3
        uses: actions/checkout@v3
        with:
          repository: LongSoft/qt-5.6.3-static-x86-msvc2017
          path: qt5
          lfs: true
      - name: Unpack Qt 5.6.3
        shell: bash
        working-directory: qt5
        run: 7z x qt-5.6.3-static-x86-msvc2017.7z -o../..
      - name: Create dist directory
        shell: bash
        run: mkdir dist
      - name: Create UEFIExtract build directory
        run: cmake -E make_directory ${{runner.workspace}}/build/UEFIExtract
      - name: Configure UEFIExtract
        shell: bash
        working-directory: ${{runner.workspace}}/build/UEFIExtract
        run: cmake -G "Visual Studio 16 2019" -T "v141_xp" ../../UEFITool/UEFIExtract/
      - name: Build UEFIExtract
        working-directory: ${{runner.workspace}}/build/UEFIExtract
        shell: bash
        run: cmake --build . --config Release
      - name: Archive UEFIExtract
        working-directory: ${{runner.workspace}}/build/UEFIExtract/Release
        shell: bash
        run: |
          UEFITOOL_VER=$(cat ../../../UEFITool/version.h | grep PROGRAM_VERSION | cut -d'"' -f2 | sed 's/NE alpha /A/') ; \
          7z a ../../../UEFITool/dist/UEFIExtract_NE_${UEFITOOL_VER}_win32.zip UEFIExtract.exe
      - name: Create UEFIFind build directory
        run: cmake -E make_directory ${{runner.workspace}}/build/UEFIFind
      - name: Configure UEFIFind
        working-directory: ${{runner.workspace}}/build/UEFIFind
        shell: bash
        run: cmake -G "Visual Studio 16 2019" -T "v141_xp" ../../UEFITool/UEFIFind/
      - name: Build UEFIFind
        working-directory: ${{runner.workspace}}/build/UEFIFind
        shell: bash
        run: cmake --build . --config Release
      - name: Archive UEFIFind
        working-directory: ${{runner.workspace}}/build/UEFIFind/Release
        shell: bash
        run: |
          UEFITOOL_VER=$(cat ../../../UEFITool/version.h | grep PROGRAM_VERSION | cut -d'"' -f2 | sed 's/NE alpha /A/') ; \
          7z a ../../../UEFITool/dist/UEFIFind_NE_${UEFITOOL_VER}_win32.zip UEFIFind.exe
      - name: Create UEFITool win32 build directory
        run: cmake -E make_directory ${{runner.workspace}}/build/UEFITool_win32
      - name: Configure UEFITool win32
        shell: bash
        working-directory: ${{runner.workspace}}/build/UEFITool_win32
        run: ../../qt-5.6.3-static-x86-msvc2017/bin/qmake.exe -tp vc ../../UEFITool/UEFITool/
      - name: Build UEFITool win32
        working-directory: ${{runner.workspace}}/build/UEFITool_win32
        shell: cmd
        run: |
            call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars32.bat"
            msbuild -t:Rebuild -p:PlatformToolset=v141_xp;Configuration=Release
      - name: Archive UEFITool win32
        working-directory: ${{runner.workspace}}/build/UEFITool_win32/release
        shell: bash
        run: |
          UEFITOOL_VER=$(cat ../../../UEFITool/version.h | grep PROGRAM_VERSION | cut -d'"' -f2 | sed 's/NE alpha /A/') ; \
          7z a ../../../UEFITool/dist/UEFITool_NE_${UEFITOOL_VER}_win32.zip UEFITool.exe
      - name: Upload to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Windows 32-bit builds
          path: dist/*.zip
      - name: Upload to releases
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*.zip
          tag: ${{ github.ref }}
          file_glob: true

  build_windows_mingw:
    name: Build on Windows Latest with MinGW (Qt 6.4.2)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.4.2'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_mingw'
      - name: Build everything using CMake and MinGW
        run: |
          cmake -G "MinGW Makefiles" -B build .
          cmake --build build -j

  analyze_coverity:
    env:
      PROJECT_TYPE: TOOL
      JOB_TYPE: COVERITY
      HAS_QT: 1
    if: github.repository_owner == 'LongSoft' && github.event_name != 'pull_request'
    name: Coverity Static Analysis on Ubuntu Latest (Qt 6.4.2)
    runs-on: ubuntu-latest
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.4.2'
          host: 'linux'
          target: 'desktop'
      - name: CI Bootstrap
        run: |
          src=$(/usr/bin/curl -Lfs https://raw.githubusercontent.com/acidanthera/ocbuild/master/ci-bootstrap.sh) && eval "$src" || exit 1
      - uses: actions/checkout@v3
      - run: ./unixbuild.sh --configure
      - name: Run Coverity
        run: |
          src=$(/usr/bin/curl -Lfs https://raw.githubusercontent.com/acidanthera/ocbuild/master/coverity/covstrap-linux.sh) && eval "$src" || exit 1
        env:
          COVERITY_SCAN_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
          COVERITY_SCAN_EMAIL: ${{ secrets.COVERITY_SCAN_EMAIL }}
          COVERITY_BUILD_COMMAND: ./unixbuild.sh --build

  analyze_pvs_studio_and_codeql:
    if: github.repository_owner == 'LongSoft' && github.event_name != 'pull_request'
    name: PVS-Studio and CodeQL Static Analysis on Ubuntu Latest (Qt 6.4.2)
    runs-on: ubuntu-latest
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.4.2'
          host: 'linux'
          target: 'desktop'
      - name: Check out
        uses: actions/checkout@v3
      - name: Install PVS-Studio
        run: |
          wget -q -O - https://files.pvs-studio.com/etc/pubkey.txt \
            | sudo apt-key add -
          sudo wget -O /etc/apt/sources.list.d/viva64.list \
            https://files.pvs-studio.com/etc/viva64.list
          sudo apt update
          sudo apt install pvs-studio
          pvs-studio-analyzer credentials ${{ secrets.PVS_STUDIO_CREDENTIALS }}
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: cpp
      - name: Build everything using CMake
        run: |
          cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=On -B build .
          cmake --build build -j
      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@v2
      - name: Perform PVS-Studio analysis
        run: |
          pvs-studio-analyzer analyze -f build/compile_commands.json -j
      - name: Convert PVS-Studio report
        run: |
          plog-converter -t sarif -o pvs-report.sarif PVS-Studio.log
      - name: Publish PVS-Studio report
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: pvs-report.sarif
          category: PVS-Studio
          
  analyze_sonarcloud:
    if: github.repository_owner == 'LongSoft' && github.event_name != 'pull_request'
    name: SonarCloud Static Analysis on Ubuntu Latest (Qt 6.4.2)
    runs-on: ubuntu-latest
    env:
      SONAR_SCANNER_VERSION: 4.7.0.2747
      SONAR_SERVER_URL: "https://sonarcloud.io"
      BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory # Directory where build-wrapper output will be placed
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.4.2'
          host: 'linux'
          target: 'desktop'
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11
      - name: Download and set up sonar-scanner
        env:
          SONAR_SCANNER_DOWNLOAD_URL: https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-${{ env.SONAR_SCANNER_VERSION }}-linux.zip
        run: |
          mkdir -p $HOME/.sonar
          curl -sSLo $HOME/.sonar/sonar-scanner.zip ${{ env.SONAR_SCANNER_DOWNLOAD_URL }}
          unzip -o $HOME/.sonar/sonar-scanner.zip -d $HOME/.sonar/
          echo "$HOME/.sonar/sonar-scanner-${{ env.SONAR_SCANNER_VERSION }}-linux/bin" >> $GITHUB_PATH
      - name: Download and set up build-wrapper
        env:
          BUILD_WRAPPER_DOWNLOAD_URL: ${{ env.SONAR_SERVER_URL }}/static/cpp/build-wrapper-linux-x86.zip
        run: |
          curl -sSLo $HOME/.sonar/build-wrapper-linux-x86.zip ${{ env.BUILD_WRAPPER_DOWNLOAD_URL }}
          unzip -o $HOME/.sonar/build-wrapper-linux-x86.zip -d $HOME/.sonar/
          echo "$HOME/.sonar/build-wrapper-linux-x86" >> $GITHUB_PATH
      - name: Run build-wrapper
        run: |
          cmake -B build .
          build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} cmake --build build -j
      - name: Run sonar-scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          sonar-scanner --define sonar.host.url="${{ env.SONAR_SERVER_URL }}" --define sonar.cfamily.build-wrapper-output="${{ env.BUILD_WRAPPER_OUT_DIR }}"     
